- expanded = expanded_by_default?

%section.settings.no-animate#js-protected-branches-settings{ class: ('expanded' if expanded), data: { qa_selector: 'protected_branches_settings_content' } }
  .settings-header
    %h4
      Protected Branches
    %button.btn.gl-button.js-settings-toggle.qa-expand-protected-branches{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      Keep stable branches secure and force developers to use merge requests.
  .settings-content
    %p
      By default, protected branches are designed to:
      %ul
        %li prevent their creation, if not already created, from everybody except Maintainers
        %li prevent pushes from everybody except Maintainers
        %li prevent <strong>anyone</strong> from force pushing to the branch
        %li prevent <strong>anyone</strong> from deleting the branch
      %p Read more about #{link_to "protected branches", help_page_path("user/project/protected_branches")} and #{link_to "project permissions", help_page_path("user/permissions")}.

    - if can? current_user, :admin_project, @project
      = content_for :create_protected_branch

    = content_for :branches_list
