- return unless current_user

.d-none.d-sm-block
  - if can?(current_user, :update_snippet, @snippet)
    = link_to edit_snippet_path(@snippet), class: "btn btn-grouped" do
      = _("Edit")
  - if can?(current_user, :admin_snippet, @snippet)
    = link_to gitlab_snippet_path(@snippet), method: :delete, data: { confirm: _("Are you sure?") }, class: "btn btn-grouped btn-inverted btn-remove", title: _('Delete Snippet') do
      = _("Delete")
  - if can?(current_user, :create_snippet)
    = link_to new_snippet_path, class: "btn btn-grouped btn-success btn-inverted", title: _("New snippet") do
      = _("New snippet")
  - if @snippet.submittable_as_spam_by?(current_user)
    = link_to _('Submit as spam'), mark_as_spam_snippet_path(@snippet), method: :post, class: 'btn btn-grouped btn-spam', title: _('Submit as spam')
.d-block.d-sm-none.dropdown
  %button.btn.gl-button.btn-default.btn-block.gl-mb-0.gl-mt-2{ data: { toggle: "dropdown" } }
    = _("Options")
    = icon('caret-down')
  .dropdown-menu.dropdown-menu-full-width
    %ul
      - if can?(current_user, :create_snippet)
        %li
          = link_to new_snippet_path, title: _("New snippet") do
            = _("New snippet")
      - if can?(current_user, :admin_snippet, @snippet)
        %li
          = link_to gitlab_snippet_path(@snippet), method: :delete, data: { confirm: _("Are you sure?") }, title: _('Delete Snippet') do
            = _("Delete")
      - if can?(current_user, :update_snippet, @snippet)
        %li
          = link_to edit_snippet_path(@snippet) do
            = _("Edit")
      - if @snippet.submittable_as_spam_by?(current_user)
        %li
          = link_to _('Submit as spam'), mark_as_spam_snippet_path(@snippet), method: :post
