.user-callout.promotion-callout.js-service-desk-callout#promote_service_desk{ data: { uid: 'promote_service_desk_dismissed' } }
  .bordered-box.content-block
    %button.btn.gl-button.btn-default.close.js-close-callout{ type: 'button', 'aria-label' => 'Dismiss Service Desk promotion' }
      = sprite_icon('close', size: 16, css_class: 'dismiss-icon')
    .svg-container
      = custom_icon('icon_service_desk')
    .user-callout-copy
      %h4
        = _("Improve customer support with GitLab Service Desk.")
      %p
        = _("GitLab Service Desk is a simple way to allow people to create issues in your GitLab instance without needing their own user account. It provides a unique email address for end users to create issues in a project, and replies can be sent either through the GitLab interface or by email. End users will only see the thread through email.")
        = link_to _('Read more'), help_page_path('user/project/service_desk.md'), target: '_blank'

