- return unless can?(current_user, :admin_operations, @project)
- expanded = expanded_by_default?

%section.settings.no-animate#js-alert-management-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h3{ :class => "h4" }
      = _('Alerts')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = _('Expand')
    %p
      = _('Display alerts from all your monitoring tools directly within GitLab.')
      = link_to _('More information'), help_page_path('user/project/operations/alert_management'), target: '_blank', rel: 'noopener noreferrer'
  .settings-content
    .js-alerts-settings{ data: alerts_settings_data }
