- return unless can?(current_user, :read_environment, @project)

- setting = error_tracking_setting

%section.settings.no-animate.js-error-tracking-settings
  .settings-header
    %h3{ :class => "h4" }
      = _('Error tracking')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = _('Expand')
    %p
      = _('To link Sentry to GitLab, enter your Sentry URL and Auth Token.')
      = link_to _('More information'), help_page_path('operations/error_tracking'), target: '_blank', rel: 'noopener noreferrer'
  .settings-content
    .js-error-tracking-form{ data: { list_projects_endpoint: project_error_tracking_projects_path(@project, format: :json),
        operations_settings_endpoint: project_settings_operations_path(@project),
        project: error_tracking_setting_project_json,
        api_host: setting.api_host,
        enabled: setting.enabled.to_json,
        token: setting.token.present? ? '*' * 12 : nil } }
