- if ::Gitlab::CurrentSettings.custom_project_templates_enabled?
  %section.settings.as-custom-project-templates.no-animate#js-custom-project-templates-settings{ class: ('expanded' if expanded), data: { qa_selector: 'custom_project_template_content' } }
    .settings-header
      %h4
        = _('Custom project templates')
      %button.btn.gl-button.js-settings-toggle{ type: 'button' }
        = expanded ? _('Collapse') : _('Expand')
      %p
        = _('Select the custom project template source group.')
    .settings-content

      = form_for @application_setting, url: templates_admin_application_settings_path(anchor: 'js-custom-project-templates-settings') do |f|
        = form_errors(@application_setting)

        %fieldset
          .form-group
            = groups_select_tag('application_setting[custom_project_templates_group_id]', selected: @application_setting.custom_project_templates_group_id, class: 'input-clamp allowClear qa-custom-project-template-select', multiple: false)

        = f.submit _('Save changes'), class: "btn btn-success qa-save-changes-button"
