- if any_projects?(@projects)
  .project-item-select-holder.btn-group
    %a.btn.gl-button.btn-success.new-project-item-link.qa-new-project-item-link{ href: '', data: { label: local_assigns[:label], type: local_assigns[:type] } }
      = loading_icon(color: 'light')
    = project_select_tag :project_path, class: "project-item-select", data: { include_groups: local_assigns[:include_groups], order_by: 'last_activity_at', relative_path: local_assigns[:path], with_shared: local_assigns[:with_shared], include_projects_in_subgroups: local_assigns[:include_projects_in_subgroups] }, with_feature_enabled: local_assigns[:with_feature_enabled]
    %button.btn.gl-button.btn-success.new-project-item-select-button.qa-new-project-item-select-button.gl-p-0
      = sprite_icon('chevron-down')
