.dropdown.gl-ml-3#js-add-list
  %button.btn.gl-button.btn-success.btn-inverted.js-new-board-list{ type: "button", data: board_list_data }
    Add list
  .dropdown-menu.dropdown-extended-height.dropdown-menu-paging.dropdown-menu-right.dropdown-menu-issues-board-new.dropdown-menu-selectable.js-tab-container-labels
    = render partial: "shared/issuable/label_page_default", locals: { show_footer: true, show_create: true, show_boards_content: true, title: "Add list" }
    - if can?(current_user, :admin_label, board.resource_parent)
      = render partial: "shared/issuable/label_page_create", locals: { show_add_list: true, add_list: true, add_list_class: 'd-none' }
    = dropdown_loading
