.note-edit-form
  = form_tag '#', method: :put, class: 'edit-note common-note-form js-quick-submit' do
    = hidden_field_tag :target_id, '', class: 'js-form-target-id'
    = hidden_field_tag :target_type, '', class: 'js-form-target-type'
    = render layout: 'shared/md_preview', locals: { url: preview_markdown_path(project), referenced_users: true } do
      = render 'shared/zen', attr: 'note[note]', classes: 'note-textarea js-note-text js-task-list-field', qa_selector: 'edit_note_field', placeholder: _("Write a comment or drag your files here…")
      = render 'shared/notes/hints'

    .note-form-actions.clearfix
      .settings-message.note-edit-warning.js-finish-edit-warning
        = _("Finish editing this message first!")
      = submit_tag _('Save comment'), class: 'btn btn-nr btn-success js-comment-save-button', data: { qa_selector: 'save_comment_button' }
      %button.btn.gl-button.btn-nr.btn-cancel.note-edit-cancel{ type: 'button' }
        = _("Cancel")
