- supports_quick_actions = local_assigns.fetch(:supports_quick_actions, false)
.comment-toolbar.clearfix
  .toolbar-text
    = link_to _('Markdown'), help_page_path('user/markdown'), target: '_blank'
    - if supports_quick_actions
      and
      = link_to _('quick actions'), help_page_path('user/project/quick_actions'), target: '_blank'
      are
    - else
      is
    supported

  %span.uploading-container
    %span.uploading-progress-container.hide
      = sprite_icon('media', css_class: 'gl-icon gl-vertical-align-text-bottom')
      %span.attaching-file-message
        -# Populated by app/assets/javascripts/dropzone_input.js
      %span.uploading-progress 0%
      = loading_icon(css_class: 'align-text-bottom gl-mr-2')

    %span.uploading-error-container.hide
      %span.uploading-error-icon
        = sprite_icon('media', css_class: 'gl-icon gl-vertical-align-text-bottom')
      %span.uploading-error-message
        -# Populated by app/assets/javascripts/dropzone_input.js
      %button.retry-uploading-link{ type: 'button' }= _("Try again")
      or
      %button.attach-new-file.markdown-selector{ type: 'button' }= _("attach a new file")

    %button.btn.gl-button.markdown-selector.button-attach-file.btn-link{ type: 'button' }
      = sprite_icon('media')
      %span.text-attach-file<>
        = _("Attach a file")

    %button.btn.gl-button.btn-default.btn-sm.hide.button-cancel-uploading-files{ type: 'button' }= _("Cancel")
