- return unless current_user

.d-none.d-sm-block
  - if can?(current_user, :update_snippet, @snippet)
    = link_to edit_project_snippet_path(@project, @snippet), class: "btn btn-grouped" do
      = _('Edit')
  - if can?(current_user, :admin_snippet, @snippet)
    = link_to project_snippet_path(@project, @snippet), method: :delete, data: { confirm: _("Are you sure?") }, class: "btn btn-grouped btn-inverted btn-remove", title: _('Delete Snippet') do
      = _('Delete')
  - if can?(current_user, :create_snippet, @project)
    = link_to new_project_snippet_path(@project), class: 'btn btn-grouped btn-inverted btn-success', title: _("New snippet") do
      = _('New snippet')
  - if @snippet.submittable_as_spam_by?(current_user)
    = link_to _('Submit as spam'), mark_as_spam_project_snippet_path(@project, @snippet), method: :post, class: 'btn btn-grouped btn-spam', title: _('Submit as spam')
- if can?(current_user, :create_snippet, @project) || can?(current_user, :update_snippet, @snippet)
  .d-block.d-sm-none.dropdown
    %button.btn.gl-button.btn-default.btn-block.gl-mb-0.gl-mt-2{ data: { toggle: "dropdown" } }
      = _('Options')
      = icon('caret-down')
    .dropdown-menu.dropdown-menu-full-width
      %ul
        - if can?(current_user, :create_snippet, @project)
          %li
            = link_to new_project_snippet_path(@project), title: _("New snippet") do
              = _('New snippet')
        - if can?(current_user, :admin_snippet, @snippet)
          %li
            = link_to project_snippet_path(@project, @snippet), method: :delete, data: { confirm: _("Are you sure?") }, title: _('Delete Snippet') do
              = _('Delete')
        - if can?(current_user, :update_snippet, @snippet)
          %li
            = link_to edit_project_snippet_path(@project, @snippet) do
              = _('Edit')
        - if @snippet.submittable_as_spam_by?(current_user)
          %li
            = link_to _('Submit as spam'), mark_as_spam_project_snippet_path(@project, @snippet), method: :post
