%diff-file-editor{ "inline-template" => "true", ":file" => "file", ":on-cancel-discard-confirmation" => "cancelDiscardConfirmation", ":on-accept-discard-confirmation" => "acceptDiscardConfirmation" }
  .diff-editor-wrap{ "v-show" => "file.showEditor" }
    .discard-changes-alert-wrap{ "v-if" => "file.promptDiscardConfirmation" }
      .discard-changes-alert
        Are you sure you want to discard your changes?
        .discard-actions
          %button.btn.gl-button.btn-sm.btn-close{ "@click" => "acceptDiscardConfirmation(file)" } Discard changes
          %button.btn.gl-button.btn-sm{ "@click" => "cancelDiscardConfirmation(file)" } Cancel
    .editor-wrap{ ":class" => "classObject" }
      .loading
        .spinner.spinner-md
      .editor
        %pre{ "style" => "height: 350px" }
