- btn_class = local_assigns.fetch(:btn_class, '')
- emails_disabled = local_assigns.fetch(:emails_disabled, false)

- if notification_setting
  - if emails_disabled
    - button_title = notification_description(:owner_disabled)
    - aria_label = button_title
    - btn_class << " disabled"
  - else
    - button_title = _("Notification setting")
    - aria_label = _("Notification setting - %{notification_title}") % { notification_title: notification_title(notification_setting.level) }

  .js-notification-dropdown.notification-dropdown.mr-md-2.home-panel-action-button.dropdown.inline
    = form_for notification_setting, remote: true, html: { class: "inline notification-form" } do |f|
      = hidden_setting_source_input(notification_setting)
      = f.hidden_field :level, class: "notification_setting_level"
      .js-notification-toggle-btns
        %div{ class: ("btn-group" if notification_setting.custom?) }
          - if notification_setting.custom?
            %button.dropdown-new.btn.btn-defaul.btn-icon.gl-button.has-tooltip.notifications-btn.text-left#notifications-button{ type: "button", title: button_title, class: "#{btn_class}", "aria-label" => aria_label, data: { container: "body", toggle: "modal", target: "#" + notifications_menu_identifier("modal", notification_setting), display: 'static' } }
              = sprite_icon("notifications", css_class: "js-notification-loading")
              = notification_title(notification_setting.level)
            %button.btn.gl-button.dropdown-toggle.d-flex{ data: { toggle: "dropdown", target: notifications_menu_identifier("dropdown", notification_setting), flip: "false" } }
              = icon('caret-down')
              .sr-only Toggle dropdown
          - else
            %button.dropdown-new.btn.btn-default.btn-icon.gl-button.has-tooltip.notifications-btn#notifications-button{ type: "button", title: button_title, class: "#{btn_class}", "aria-label" => aria_label, data: { container: "body", toggle: "dropdown", target: notifications_menu_identifier("dropdown", notification_setting), flip: "false" } }
              .float-left
                = sprite_icon("notifications", css_class: "js-notification-loading")
                = notification_title(notification_setting.level)
              .float-right
                = icon("caret-down")

          = render "shared/notifications/notification_dropdown", notification_setting: notification_setting

          = content_for :scripts_body do
            = render "shared/notifications/custom_notifications", notification_setting: notification_setting
