- return unless License.feature_available?(:admin_merge_request_approvers_rules)
%section.settings.merge-request-approval-settings.no-animate{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Merge requests approvals')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      - if show_compliance_merge_request_approval_settings?
        = _('Regulate approvals by authors/committers, based on compliance frameworks. Can be changed only at the instance level.')
      - else
        = _('Settings to prevent self-approval across all projects in the instance. Only an administrator can modify these settings.')

  .settings-content
    %hr.clearfix.mt-0

    = form_for @application_setting, url: general_admin_application_settings_path(anchor: 'merge-request-approval-settings'), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting)

      = render 'merge_request_approvals_fields', f: f

      - if show_compliance_merge_request_approval_settings?
        .sub-section
          %h5
            = _('Compliance frameworks')
          .form-group
            .form-text.text-muted.mb-2
              = _('The above settings apply to all projects with the selected compliance framework(s).')

            = f.collection_check_boxes(:compliance_frameworks, compliance_framework_checkboxes, :first, :last) do |b|
              .form-check
                = b.check_box(class: "form-check-input")
                = b.label(class: "form-check-label")

      = f.submit _('Save changes'), class: "btn btn-success"
