- scim_token_not_present = @scim_token_url.nil?
.gl-mt-3.js-generate-scim-token-container{ class: "#{ 'd-none' unless scim_token_not_present}" }
  %p= s_('GroupSAML|Generate a SCIM token to set up your System for Cross-Domain Identity Management.')
  %button.btn.gl-button.btn_default.btn-white.js-generate-scim-token{ type: 'button' }
    = s_('GroupSAML|Generate a SCIM token')
.gl-mt-3.js-scim-token-container{ class: "#{ 'd-none' if scim_token_not_present}" }
  .well-segment.borderless.mb-3.col-12.col-lg-9.p-0
    = render 'scim_row', value: '********************', field: 'scim_token', label_text: s_('GroupSAML|Your SCIM token'), show_clipboard: false
    .form-text.text-muted.js-scim-token-helper-text
      %span
        = s_('GroupSAML|The SCIM token is now hidden. To see the value of the token again, you need to ')
        %button.btn.gl-button.btn-default.btn-link.d-inline.align-baseline.js-reset-scim-token{ type: 'button' }
          = _('reset it.')
      %span.d-none
        = s_("GroupSAML|Make sure you save this token — you won't be able to access it again.")
  .well-segment.borderless.col-12.col-lg-9.p-0
    = render 'scim_row', value: @scim_token_url, field: 'scim_endpoint_url', label_text: s_('GroupSAML|SCIM API endpoint URL'), show_clipboard: true
.gl-mt-3.text-center.js-scim-loading-container.d-none
  .spinner
